.input-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-form input {
  margin: 5px;
}
.serviceDetails {
  display: flex;
  margin-top: 10%;
}

.serviceDetails img {
  width: 70%;
}
